* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri;
  text-align: center;
  background-color: rgba(19, 19, 19, 0.8980392157);
  color: rgb(255, 208, 0);
  overflow-x: hidden;
}

header {
  background-color: white;
}

.espacio {
  height: 15px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=submit] {
  width: 100%;
  background-color: #f1bf17;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.botonbola {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: #000000;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botonbola img {
  height: 30px;
  margin-right: 5px;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text, .numbertext {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/2 etc) */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(255, 208, 0);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container img {
  width: 100%;
}

nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 20rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: rgb(255, 208, 0);
}

.nav-links li a:hover {
  color: #61DAFB;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

.login-button {
  background-color: rgb(255, 208, 0);
  border: 1.5px solid rgb(255, 220, 0);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  color: #ffffff;
  background-color: rgba(255, 208, 0, 0.589);
  border: 1.5px solid rgba(255, 208, 0, 0.589);
  transition: all ease-in-out 350ms;
}

.join-button {
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}

.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: rgb(255, 208, 0);
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    clip-path: elipse(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: elipse(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.espaciogrande {
  height: 150px;
}

/*Mixin Tarjetas*/
/*Tarjetas*/
.card-container {
  justify-content: flex-start;
  align-items: center;
}

.card1 {
  background: #222429;
  margin-top: 10px;
  margin: auto;
  height: 400px;
  width: 50%;
  transition: 0.6s all ease;
  border: solid;
  border-color: rgb(248, 248, 248);
  overflow: auto;
}

.card2 {
  background: #222429;
  margin-top: 10px;
  margin: auto;
  height: 400px;
  width: 50%;
  transition: 0.6s all ease;
  border: solid;
  border-color: rgb(248, 248, 248);
  overflow: auto;
}

.card3 {
  background: #222429;
  margin-top: 10px;
  margin: auto;
  height: 400px;
  width: 50%;
  transition: 0.6s all ease;
  border: solid;
  border-color: rgb(248, 248, 248);
  overflow: auto;
}

.card4 {
  background: #222429;
  margin-top: 10px;
  margin: auto;
  height: 400px;
  width: 50%;
  transition: 0.6s all ease;
  border: solid;
  border-color: rgb(248, 248, 248);
  overflow: auto;
}

/*Parte de arriba Tarjetas*/
.cardTop1 {
  transition: 0.4s all ease;
  height: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgreen;
  background-image: url(../multimedia/IMG/001.png);
}

.cardTop2 {
  transition: 0.4s all ease;
  height: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: coral;
  background-image: url(../multimedia/IMG/002.png);
}

.cardTop3 {
  transition: 0.4s all ease;
  height: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  background-image: url(../multimedia/IMG/003.png);
}

.cardTop4 {
  transition: 0.4s all ease;
  height: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightyellow;
  background-image: url(../multimedia/IMG/004.png);
}

/*Parte de abajo Tarjetas*/
.cardBottom {
  height: 30%;
  transition: 0.4s all ease;
}

/*Texto Tarjetas*/
.cardText {
  min-height: 100%;
  padding: 20px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
}

.cardInfo {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* Hidding the entire so anything we put in will only show on hover */
.cardHoverText {
  visibility: hidden;
}

/* Hover affects */
.card1:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */
.card1:hover .cardHoverText {
  visibility: visible;
  transition: 0.4s all ease;
  transition-delay: 0.1999s;
}

.card1:hover .cardBottom {
  transition: 0.4s all ease;
  height: 65%;
  opacity: 1;
}

.card1:hover .cardTop1 {
  height: 35%;
  opacity: 0.8;
  transition: 0.4s all ease;
}

.card1:hover .cardTop2 {
  height: 35%;
  opacity: 0.8;
  transition: 0.4s all ease;
}

.card1:hover .cardTop3 {
  height: 35%;
  opacity: 0.8;
  transition: 0.4s all ease;
}

.card1:hover .cardTop4 {
  height: 35%;
  opacity: 0.8;
  transition: 0.4s all ease;
}

button[type=submit]:hover {
  background-color: black;
}

.main {
  display: table-row;
}

.left-box {
  box-sizing: border-box;
  vertical-align: top;
  background: #111;
  padding: 5px;
  display: none;
  display: table-cell;
  width: 336px;
}

.right-box {
  box-sizing: border-box;
  vertical-align: top;
  padding: 2px;
  width: 100%;
}

.box {
  text-align: center;
  padding: 5px 1px;
}

.creadores-box {
  display: table;
  width: 100%;
  border-spacing: 0;
  background: rgb(255, 187, 0);
  border-radius: 3px;
  box-shadow: 1px 2px 0 #9c9c9c;
  margin: 0 0 15px;
}

.box-info {
  display: table-cell;
  vertical-align: top;
  padding: 5px;
  width: 100%;
  color: #000;
  text-align: center;
  font-size: 20px;
}

.img-box {
  display: table-cell;
  padding: 5px;
  margin: auto;
  display: block;
}

.god_box {
  box-shadow: 0 0 3px #fff;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  display: table;
}

.carousel-slide {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar_description {
  text-align: center;
  padding: 7px;
  font-weight: 700;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .left-box {
    display: none;
  }
}
.carousel-item {
  background-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
